body{
margin:0;
font-family: sans-serif;
}
*{
box-sizing: border-box;
}
.details-slbody{
background: yellow;
padding: 14px;
width: 1080px;
height: auto;
display: flex;
overflow: hidden;
}
.details-slbody .pc-details{
width: 670px;

}
.details-slbody .pc-details .lg-img{
position:relative;
}
.details-slbody .pc-details .lg-img img{
width: 100%;
position: absolute;
display: none;
}
.details-slbody .pc-details .lg-img .active{
position: relative;
display: block;
}
.details-slbody .pc-details .sm-img {
display: flex;
}
.details-slbody .pc-details .sm-img img{
width: 100px;
margin-left: 14px;
margin-top: 14px;
}
.details-slbody .pc-details .sm-img :first-child{
margin-left:0;
}
.details-slbody .details-info{
width: 368px;
background-color: #FFF;
margin-left: 14px;
padding:20px;
}
.details-slbody .details-info .product{
font-size: 21px;
text-transform: capitalize;
font-weight: bold;
margin:0;
}
.details-slbody .details-info .dsc{
margin-top: 6px;
color: #c7c3c3;
}
.details-slbody .details-info .availabe{
font-style: italic;
color: #766b6b;
margin-bottom: 0px;
margin-top: 30px;
}
/*media query */
@media(max-width:1080px){
.details-slbody{
display: block;
width: 100%;
}
.details-slbody .pc-details{
width: 100%;
margin-bottom: 14px;
}
.details-slbody .pc-details .lg-img .active{
width: 100%;
}
.details-slbody .pc-details .sm-img img{
width: calc( (100% - 70px)/6 );
}
.details-slbody .details-info{
width:100%;
margin-left:0;
}
}