body{
margin:0;
padding: 0;
font-family: Arial;

}
*{
	box-sizing: border-box;
}

.product-slbody .container {
width:100%;
overflow: hidden;

}
.product-slbody .container .cortain{
user-select: none;
position: relative;
overflow: hidden;
height: 100%;
}
.product-slbody .container .cortain .convoy{
float: left;
height: 100%;
}
.product-slbody .container .cortain .convoy .content{
border-radius: 5px;
float: left;
position: relative;
height: 100%;
}
.product-slbody .container .cortain .convoy .content .triangle{
	width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;

}
.product-slbody .container .cortain .convoy .content img{
width: 100%;
height:100%;
user-select: none;
}
.product-slbody .container .cortain .convoy .content .data{
position: absolute;
left: 44%;
top: 0;
text-align: center;
font-size: 13px;
font-weight: bold;
/*color: <?php echo $secondcolorx ?>;*/
padding: 20px;
font-family: "Arial";
}
.product-slbody .container .cortain  .convoy .content .data .title{
margin-bottom: 7px;
display: block;
font-size: 13px;
text-transform: capitalize;
}
.product-slbody .container .cortain .convoy .content .data .price {
width: 75px;
padding: 2px;
margin: 0 auto;
display: block;
color: #FFF;
border-radius: 16px;
/*background:<?php echo $firstcolorx ?>;*/
background: red;
}
.product-slbody .buttons .prev,.product-slbody .buttons .next{
color: silver;
cursor: pointer;
text-align: center;
position: absolute;
transition:all 0.4s ease-in-out;
font-size: 30px;
}
.product-slbody .buttons{
    position: relative;
}
.product-slbody .buttons .hidebtn{
display: none;
}

@media (max-width: 768px) {
    .product-slbody .container{
    width:100%;
    }
    .product-slbody .container .cortain .convoy .content .data{
        left: 32%;
        top: -15px;
    }
    .product-slbody .container .cortain .convoy .content .triangle{
        border-top: 69px solid #c5c0c0ab;
        border-right: 180px solid transparent;
        border-left: 180px solid transparent;
    }
    .product-slbody .buttons{
    display: none;
    }
}
@media (min-width: 768px) {
    .product-slbody .container {
        width: 100%;
    }
    .product-slbody .container .cortain .convoy .content .data{
        left: 41%;
        top: -10px;
    }
    .product-slbody .container .cortain .convoy .content .triangle{
        border-top: 69px solid #c5c0c0ab;
        border-right: 385px solid transparent;
        border-left: 385px solid transparent;
    }
}
@media (min-width: 991px) {
    .product-slbody .container {
        width:100%;
        height: 360px;
    }
.product-slbody .container .cortain .convoy .content .data{
    left: 44%;
    top: 0;
}
.product-slbody .container .cortain .convoy .content .triangle{
    border-top: 100px solid #c5c0c0ab;
    border-right: 545px solid transparent;
    border-left: 545px solid transparent;
    }
}/* end media */