<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<footer>
    <div class="news-letter">
        <div class="col-6 Subscribe ">
            <img src="img/icon/Subscribe.png">
            <h2>Subscribe Our Newsletter</h2>
            <p>Get 25% Off First Purchase!</p>
        </div>
        <div class="send-message col-6">
            <input type="email" name="" placeholder="Enter Your Email Eddress " />
            <input type="submit" value="subscribe" />
        </div>
    </div>
    <div class="main-footer">
        <div class="company-info col-4">
            <img src="img/logo.jpg" alt=""/>
            <p>Tortor Neque Egestas Augue, Eu Vulputate Magna Eros Eu Erat. Aliquam Erat Volutpat.Nam Dui Mi, Tincidunt Quis</p>
            <ul>
                <li><a href="#"><img src="img/icon/whatsapp.png"></a></li>
                <li><a href="#"><img src="img/icon/facebook.png"></a></li>
                <li><a href="#"><img src="img/icon/instagram.png"></a></li>
                <li><a href="#"><img src="img/icon/youtube.png"></a></li>
                <li><a href="#"><img src="img/icon/twitter.png"></a></li>
            </ul>
        </div>
        <div class="col-2 information">
            <div class="info-full-screen">
                <h3>information</h3>
                <ul>
                    <li><a href="#"><font>&#10095 </font>About Us</a></li>
                    <li><a href="#"><font>&#10095 </font>Price Drop</a></li>
                    <li><a href="#"><font>&#10095 </font>New Products</a></li>
                    <li><a href="#"><font>&#10095 </font>Best Sales</a></li>
                    <li><a href="#"><font>&#10095 </font>Contact Us</a></li>
                </ul>
            </div>
            <div class="info-menu">
                <input type="checkbox" id="menu-toggler-info">
                <label for="menu-toggler-info" class="menu-heading">information <font>&#10095 </font> </label>
                <ul class="menu-info-data"> 
                    <li><a href="#"><font>&#10095 </font>About Us</a></li>
                    <li><a href="#"><font>&#10095 </font>Price Drop</a></li>
                    <li><a href="#"><font>&#10095 </font>New Products</a></li>
                    <li><a href="#"><font>&#10095 </font>Best Sales</a></li>
                    <li><a href="#"><font>&#10095 </font>Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="col-2 information">
            <div class="info-full-screen">
                <h3>OUR COMPANY</h3>
                    <ul>
                        <li><a href="#"><font>&#10095 </font>Delivery</a></li>
                        <li><a href="#"><font>&#10095 </font>Legal Notice</a></li>
                        <li><a href="#"><font>&#10095 </font>Secure Payment</a></li>
                        <li><a href="#"><font>&#10095 </font>Sitemap</a></li>
                        <li><a href="#"><font>&#10095 </font>Wishlist</a></li>
                    </ul>
            </div>
            <div class="info-menu company">
                <input type="checkbox" id="menu-toggler-company">
                <label for="menu-toggler-company" class="menu-heading">OUR COMPANY <font>&#10095 </font> </label>
                <ul class="menu-company-data"> 
                    <li><a href="#"><font>&#10095 </font>Delivery</a></li>
                    <li><a href="#"><font>&#10095 </font>Legal Notice</a></li>
                    <li><a href="#"><font>&#10095 </font>Secure Payment</a></li>
                    <li><a href="#"><font>&#10095 </font>Sitemap</a></li>
                    <li><a href="#"><font>&#10095 </font>Wishlist</a></li>
                </ul>
            </div>
        </div>
        <div class="col-4 information contact">
            <div class="info-full-screen">
                <h3>CONTACT US</h3>
                <ul>
                    <li><img src="img/icon/location.png">Calista Wise 7292 Str, Sample State. Sample city Sample State. Sample city</li>
                    <li><img src="img/icon/iphone.png"><a href="#">(+33)1 234 965 45</a></li>
                    <li><img src="img/icon/mail.png"><a href="#">name@gmail.com</a></li>
                </ul>
            </div>
            <div class="info-menu">
                <input type="checkbox" id="menu-toggler-contact">
                <label for="menu-toggler-contact" class="menu-heading last">contact us <font>&#10095 </font> </label>
                <ul class="menu-contact-data"> 
                    <li>Calista Wise 7292 Str, Sample State. Sample city</li>
                    <li> Sample State. Sample city</li>
                    <li><a href="#">(+33)1 234 965 45</a></li>
                    <li><a href="#">name@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copy-right">
        Copyright &copy; 2020 company all rights reserved
    </div>
</footer>
</body>
</html>