<!-- start uppernav -->
<div class="uppernav">
  <ul> 
    <li class="welcome"> Welcome To Name Stor online</li>
    <li class="top-menu">
      <input type="checkbox" id="menu-toggler-lan">
      <label for="menu-toggler-lan" class="heading-top-menu">GBP</label>
      <ul class="lan-menu-data"> 
        <li > <a href="#">CAD</a></li>
        <li><a href="#">EUR</a></li>
        <li><a href="#">GBP</a></li>
        <li><a href="#">INR</a></li>
        <li><a href="#">USD</a></li>
      </ul>
    </li>
  </ul>
</div><!-- start prand name -->
<div class="prand">
  <div class="prand-name col-3"> <img src="//cdn.shopify.com/s/files/1/0426/6541/0709/files/demo-shop-logo-1561984352.png?v=1594129553" alt="prand name" title="prand name"/></div>
  <div class="prand-search col-6"> 
    <input type="search" placeholder="search"/>
    <button>Search </button>
  </div>
</div>
<div class="clear"></div><!-- start navbar -->
<nav>
  <div class="nav-category col-3">
    <input type="checkbox" id="menu-toggler">
    <label for="menu-toggler">≡</label>
    <div class="category-menu-data menu-data">
      <!-- navbar links in small screen-->
      <div class="nav-links-menu">
        <p>Menu</p>
        <ul>
          <li> <a href="#">Home </a></li>
          <li> <a href="#">Hexagon</a></li>
          <li> <a href="#">link 3 </a></li>
          <li> <a href="#">link 4 </a></li>
          <li> <a href="#">link 5  </a></li>
          <li> <a href="#">link 6 </a></li>
        </ul>
      </div>
      <!-- menu links-->
      <ul class="category-links">
        <p>All Categories</p>
        <li class="category-item"><a href="#">Home</a></li>
        <!--sub menu -->
        <li class="category-item sub-category-item ">
          <a>clothes valet<font>&#10095 </font></a>
          <ul class="sub-category-links">
            <li><a href="#">link</a></li>
            <li><a href="#">link</a></li>
            <li><a href="#">link</a></li>
            <li><a href="#">link</a></li>
          </ul>
        </li>
        <!--sub menu -->
        <li class="category-item sub-category-item">
          <a>coat reck<font>&#10095 </font></a>
          <ul class="sub-category-links">
            <li><a href="#">a</a></li>
            <li><a href="#">b</a></li>
            <li><a href="#">c</a></li>
            <li><a href="#">d</a></li>
          </ul>
        </li>
        <li class="category-item"><a href="#">Hexagon couch </a></li>
        <li class="category-item"><a href="#">Bathub</a></li>
        <li class="category-item"><a href="#">Link</a></li>
        <li class="category-item"><a href="#">Link</a></li>
        <li class="category-item"><a href="#">Link</a></li>
        <li class="category-item"><a href="#">Link</a></li>
        <li class="category-item"><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
  <!--nav bar links-->
  <div class="nav-links col-12">
    <ul> 
      <li> <a href="#">Home </a></li>
      <li> <a href="#">Hexagon</a></li>
      <li> <a href="#">link 3 </a></li>
      <li> <a href="#">link 4 </a></li>
      <li> <a href="#">link 5  </a></li>
      <li> <a href="#">link 6 </a></li>
    </ul>
  </div>
</nav>
<div class="clear"></div>